.lima-section, .lima-section li a{
    position: absolute !important;
    bottom: 0 !important;
}
.sidenav{
    padding-bottom: 0px;
}
.bg-top{
    background-image: url('../img/bg-resto.png');
    background-position: bottom;
    background-size: cover;
}
.bg-primary-opacity{
   background: rgba(24, 38, 77, 0.8);
}
.form-control:focus{
    border-color: #7186A0;
}
.breadcrumb{
    border : 4px solid rgba(24, 38, 77, 0.8);
}
.breadcrumb li a i{
    line-height: 160%;
}
.sidenav .nav-item .nav-collapse{
    padding-top : 15px;
    padding-bottom : 15px;
}
.sidenav .nav-item .nav-collapse .nav-item .nav-link{
    padding-left : 80px;
}